@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* To make scroll behavior smooth. Source https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 */
html {
  scroll-behavior: smooth;
}

/* fonts -----------------------------------------------*/

h3 {
    font-family: 'Parisienne', cursive;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: auto;
    margin-top: 20px; 
    margin-bottom: 20px;
    width: 500px;   
}

h4 {
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-family: 'Parisienne', cursive;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.flash-message {
    font-family: 'Parisienne', cursive;
    margin-bottom: 20px;
    border-bottom: 1px solid white; 
    width: 500px;     
}

/* Button section --------------------------------------------------*/

button {
    border-radius: 5px !important;
}

a {
    border-radius: 5px !important;
}

/* Main body--------------------------------------------------------*/

body {
    background: #efebe9;       
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Required for sticky footer --------------------------------------*/

main {
    flex: 1 0 auto;
}

li a {
    color: rgb(172, 172, 185) !important;
}

/* Items page -------------------------------------------------------*/

.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/room.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;       
    height: 600px;
    position: relative;
}

.banner {
    position: absolute;    
    bottom: 200px;
    width: 100%;              
}

.banner-text {
    font-family: 'Source Serif Pro', serif;
}

img {
    width: 100%;
    height: 300px;; 
    object-fit: contain;         
}

/* Images for profile page --------------------------------------------*/

.profile img {
    width: 100%;
    height: auto; 
    object-fit: cover;         
}

.information {
    padding-left: 25px !important;
}

.first_item {
    margin-top: 0;
}

.item-header p {
        margin: 0 !important;
}

.add-item-row {
    margin-bottom: 0px;
    padding-bottom: 20px;
}

/* Add Item page --------------------------------------------------*/

.page-background {
    background: linear-gradient(rgba(58, 50, 50, 0.6), rgba(0, 0, 0, 0.6)),url("../images/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.add-item-form {
    margin-top: 40px;
}

/* Control center --------------------------------------------------*/

.control-background {
    background: linear-gradient(rgba(58, 50, 50, 0.6), rgba(0, 0, 0, 0.6)),url("../images/mother_board.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

/* Modal section----------------------------------------------------*/

.modal {
    border-radius: 10px;        
}

.modal-content {
    background: url("../images/paint-brushes.png");
    background-size: cover;
    background-repeat: no-repeat;    
}

.modal-content h4 {
    font-family: 'Fredericka the Great', cursive;
    border-radius: 10px;   
    background-size: cover;
    background-repeat: no-repeat;   
}

#login-message, #register-message {
    color: red;
    margin: 0;
    padding: 0;
}

/* Header/Navbar section---------------------------------------------*/

.brand-logo {
    font-family: 'Fredericka the Great', cursive;    
    margin-left: 10px;
}

.brown {
    background-color: #918783 !important;
}

/* Media Screen section ---------------------------------------------*/

@media screen and (max-width: 576px){
    .brand-logo {
        font-size: 26px !important;        
    }

    .hero-image {
        height: 300px;
    }

    h3 {
        width: 300px;
        margin: 10px auto;
        font-size: 26px;
    }        

    .flash-message {
        width: 300px;
        font-size: 26px;
    }
    .information p {
        margin: 10px 0 !important;
    }

    .banner {
        bottom: 100px;    
    }

    .banner-text {
        margin-bottom: 0px;        
        font-size: 22px !important;
    }

    img {
        height: 250px;
    }

    .footer-notes {
        font-size: 14px !important;
    }   
}

@media screen and (min-width: 577px) and (max-width:768px){
    .banner {
        bottom: 250px;
    }
    .banner-text {
        margin-bottom: 0px;        
        font-size: 40px !important;
    }    
}

