
/* Main body */

body {
    background: rgb(218, 101, 101);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*  Required for sticky footer */
main {
    flex: 1 0 auto;
}

li a {
    color: rgb(172, 172, 185) !important;
}

/* Items page */

.hero-image {
    background: lightsalmon;
    width: 100%;
    height: 500px;
}

/* Modal section */
.modal {
    border-radius: 10px;    
}

