@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Parisienne&display=swap');

/* To make scroll behavior smooth. Source https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 */
html {
  scroll-behavior: smooth;
}

/*-----------------------------------------------fonts */
.flash-message {
    font-family: 'Parisienne', cursive;      
}

/* Main body */
body {
    background: rgb(218, 101, 101);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*----------------------------Required for sticky footer */
main {
    flex: 1 0 auto;
}

li a {
    color: rgb(172, 172, 185) !important;
}

/*--------------------------------------------Items page */

.hero-image {
    background-image: url("../images/room.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    height: 600px;
}

.menu {
    border-right: 1px solid black
}

img {
    width: 100%;
    max-height: 300px; 
    object-fit: cover;     
}

.information {
    padding-left: 25px !important;
}

.first_item {
    margin-top: 0;
}

/*---------------------------------------------Modal section */
.modal {
    border-radius: 10px;    
}

.modal-content h4 {
    font-family: 'Fredericka the Great', cursive;  
}

/*---------------------------------------------Header section */
.brand-logo {
    font-family: 'Fredericka the Great', cursive;    
    margin-left: 10px;
}

/*----------------------------------------Media Screen section */
@media screen and (max-width: 576px){
    .brand-logo {
        font-size: 26px !important;        
    }
    .hero-image {
        height: 300px;
    }
}
