{% extends 'base.html' %}
    {% block content %}                    
        <h3 class="center-align black-text add-item-header">Add item</h3>
        <section class="page-background">            
            <div class="container">
                <div class="row add-item-row">
                    <div class="col s12 m10 l8 offset-m1 offset-l2">
                        <div class="row add-item-form card-panel brown lighten-5">
                            <form class="col s12" method="POST" action="{{ url_for('add_item') }}" enctype="multipart/form-data">            
                                <!-- Dropdown menu for category -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-folder-open prefix brown-text text-lighten-1"></i>
                                        <select id="item_category" name="item_category" class="validate " required>
                                        <!-- Will display value in field as option but cannot be selected-->
                                        <option value="" disabled selected>Choose option</option>
                                        {% for category in categories %}
                                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>  
                                        {% endfor %}                  
                                        </select>
                                        <label for="item_category">Item Category</label>
                                    </div>
                                </div>
                                <!-- Image Upload -->
                                <div class="row">                                
                                    <div class="input-field col s12">                                    
                                        <i class="fas fa-folder-open prefix brown-text text-lighten-1"></i>
                                        <input class="tooltipped validate" data-position="top" data-tooltip="Upload image of Art work" 
                                            id="item_image" name="item_image" type="file" required>
                                        <label for="item_image"></label>                                   
                                    </div>
                                </div>
                                <!-- Item name -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-pencil-alt prefix brown-text text-lighten-1"></i>
                                        <input id="item_name" name="item_name" minlength="5" maxlength="50" 
                                            type="text" class="validate" required>
                                        <label for="item_name">Item Name</label>
                                    </div>
                                </div>
                                <!-- Item Decription -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-pencil-alt prefix brown-text text-lighten-1"></i>                    
                                        <textarea id="item_description" name="item_description" class="materialize-textarea validate" minlength="5" 
                                            maxlength="200" required></textarea>
                                        <label for="item_description">Item Description</label>
                                    </div>
                                </div>
                                <!-- Item price -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-dollar-sign prefix brown-text text-lighten-1"></i>
                                        <input id="item_price" name="item_price" minlength="5" maxlength="50" 
                                            pattern="^[0-9]{5,50}$" type="number" class="validate" required>
                                        <label for="item_price">Item Price</label>
                                    </div>
                                </div>
                                <!-- Contact number -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-phone prefix brown-text text-lighten-1"></i>
                                        <input id="contact_number" name="contact_number" minlength="7" maxlength="15" 
                                            pattern="^[0-9]{7,15}$" type="text" class="validate" required>
                                        <label for="contact_number">Contact number</label>
                                    </div>
                                </div>
                                <!-- Email Address -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-envelope-square prefix brown-text text-lighten-1"></i>
                                        <input id="email" name="email" type="email" class="validate" required>
                                        <label for="email">Email Address</label>
                                    </div>
                                </div>
                                <!-- Submit button -->
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <button type="submit" class="z-depth-5 waves-effect btn-large brown lighten-1 brown-text text-lighten-5">
                                            Add Item<i class="fas fa-square right"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>
                </div>
            </div>
        </section> 
    {% endblock %}
    
