<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist for life</title>    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <header>
    <!-- navbar -->
        <nav>        
            <!-- navbar on medium screen size and above -->
            <div class="nav-wrapper brown">
                <a href="{{ url_for('all_items') }}" class="brand-logo">Artist for life</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down"> 
                    <!-- Will show for all users -->                   
                    <li><a href="{{ url_for('all_items') }}" class="white-text">Home</a></li>
                    <li><a class="white-text modal-trigger" href="#about">About</a></li> 
                    <!-- Will show for only those logged in -->                      
                    {% if session.user %}
                        <li><a href="{{ url_for('add_item') }}" class="white-text">Add Item</a></li>
                        <li><a href="{{ url_for('profile' , username=session['user']) }}" class="white-text">Profile</a></li>
                        <!-- Will show only when Admin is logged in -->  
                        {% if session.user == "admin" %}
                            <li><a href="{{ url_for('control_center') }}" class="white-text" >Control center</a></li>
                        {% endif %} 
                        <li><a href="{{ url_for('logout') }}" class="white-text">logout</a></li> 
                    <!-- Will not show when user is logged in -->
                    {% else %} 
                        <li><a class="modal-trigger white-text" href="#login">Login</a></li> 
                        <li><a class="modal-trigger white-text" href="#register">Register</a></li>                        
                    {% endif %}                     
                </ul>
            </div>
        </nav>
        <!-- navbar on mobile devices -->
        <ul class="sidenav brown" id="mobile-demo">            
            <a href="{{ url_for('all_items') }}"><h4 class="center-align white-text brand-logo">Artist for life</h4></a>
            <li><a href="{{ url_for('all_items') }}" class="white-text" >Home</a></li>
            <li><a class="white-text modal-trigger" href="#about">About</a></li>                    
            {% if session.user %}
                <li><a href="{{ url_for('add_item') }}" class="white-text" >Add Item</a></li>
                <li><a href="{{ url_for('profile' , username=session['user']) }}" class="white-text">Profile</a></li>
                {% if session.user == "admin" %}
                    <li><a href="{{ url_for('control_center') }}" class="white-text">Control center</a></li>
                {% endif %} 
                <li><a href="{{ url_for('logout') }}" class="white-text" >logout</a></li>
            {% else %} 
                <li><a class="modal-trigger white-text" href="#login">Login</a></li> 
                <li><a class="modal-trigger white-text" href="#register">Register</a></li>                        
            {% endif %}
        </ul>
    </header>
    <!-- main section -->
    <div class="flash brown lighten-3">
        <!-- Display Flash messages on all pages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3 class="flash-message center-align black-text">{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div> 
    <main>
        {% block content %}
        {% endblock %} 
    </main>      
    <!-- Footer -->
    <footer class="page-footer brown">
        <div class="row">
            <div class="footer-notes col s8 m4">                
                © 2020 Copyright Zahur Meerun.<br>All rights reserved.                                            
            </div>            
            <div class="col s4 m4 center-align">
                 <a class="grey-text text-lighten-4" href="https://en.wikipedia.org/wiki/List_of_art_museums"
                    target="_blank"><i class="fas fa-palette" style="font-size: 30px;"></i></a>
            </div>
            <div class="col l4 hide-on-med-and-down">                
            </div>
        </div>      
    </footer>
    <!-- Modal section -->    
    <!-- Registration Modal -->    
    <div id="register" class="modal">
        <div class="modal-content" style="background: #efebe9; padding-bottom: 10px;"> 
            <h4 class="center-align" style="margin: 0;">Register</h4>
            <p id="register-message" class="center-align"></p>                     
            <div class="row" style="margin: 0;">                
                <form class="col s12" method="POST" action="{{ url_for('register') }}">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="fas fa-user-plus prefix brown-text text-lighten-2"></i>
                            <input id="username" name="username" type="text" minlength="5" maxlength="15" 
                                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label class="black-text" for="username">Username</label>
                            <span class="helper-text" data-error="Incorrect format!" data-success="right!">
                                Username must be 5-15 characters long and use only numbers and letters</span>
                        </div>
                        <div class="input-field col m6">
                            <i class="fas fa-user-lock prefix brown-text text-lighten-2"></i>
                            <input id="password" name="password" type="password" minlength="5" maxlength="15" 
                                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label class="black-text" for="password">Password</label>
                            <span class="helper-text" data-error="Incorrect format!" data-success="right!">
                                Password must be 5-15 characters long and use only numbers and letters</span>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                        <!-- Contact number -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="fas fa-phone prefix brown-text text-lighten-2"></i>
                                    <input id="contact_number" name="contact_number" minlength="7" maxlength="15" 
                                        pattern="^[0-9]{7,15}$" type="text" class="validate" required>
                                    <label class="black-text" for="contact_number">Contact number</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- Email Address -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="fas fa-envelope-square prefix brown-text text-lighten-2"></i>
                                    <input id="email" name="email" type="email" class="validate" required>
                                    <label class="black-text" for="email">Email Address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="submit col s12 m4 offset-m4 btn-large z-depth-5 waves-effect brown
                             lighten-2 brown-text text-lighten-5"><strong>Submit</strong></button>
                    </div>
                </form>
                <div class="row">
                    <div class="col s12">
                        <p class="center-align" style="margin: 0;">Already registered? Login<a class="register-modal modal-trigger 
                            brown-text" href="#login"> here</a></p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <!-- login Modal -->    
    <div id="login" class="modal">
        <div class="modal-content" style="padding-bottom: 10px;">             
            <h4 class="center-align" style="margin: 0;">Sign In</h4>
            <p id="login-message" class="center-align"></p>               
            <div class="row">                
                <form class="col s12" method="POST" action="{{ url_for('login') }}">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-plus prefix brown-text text-lighten-2"></i>
                            <input id="username2" name="username2" type="text" minlength="5" maxlength="15" 
                                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label class="black-text" for="username2">Username</label>
                            <!-- Custom error input from materialize --> 
                            <span class="helper-text" data-error="Incorrect format!" data-success="right!">
                                Username must be 5-15 characters long and use only numbers and letters</span>
                        </div>
                            <div class="input-field col s12">
                            <i class="fas fa-user-lock prefix brown-text text-lighten-2"></i>
                            <input id="password2" name="password2" type="password" minlength="5" maxlength="15" 
                                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label class="black-text" for="password2">Password</label>                             
                            <span class="helper-text" data-error="Incorrect format!" data-success="right!">
                                Password must be 5-15 characters long and use only numbers and letters</span>
                        </div>
                    </div>
                    <div class="row">
                        <button id="login_submit" type="submit" class="submit col s12 m4 offset-m4 btn-large z-depth-5 waves-effect brown
                                 lighten-2 brown-text text-lighten-5"><strong>Submit</strong></button>
                    </div>
                </form>
                <div class="row">
                    <div class="col s12">
                        <p class="center-align" style="margin: 0;">New here? Register <a class="login-modal modal-trigger brown-text" href="#register"> here</a></p>
                    </div>                    
                </div>                
            </div>
        </div>
    </div>
    <!-- About Modal -->     
    <div id="about" class="modal">
        <div class="modal-content" style="background: #efebe9;">
        <h4 class="center-align">Who Are We?</h4>
        <p>Artist For Life is a gateway to expose your art work to the world! Register for free
        and show the Mauritian Community what you are made of! In just a few clicks your work will be added to 
        ever growing gallery of items from artists just as passionate about their creations as 
        yourself while also attracting potential buyers. You no longer need to worry about how
        to get your ideas out there but rather on what your next masterpiece will be!</p>
        </div>
        <div class="modal-footer">
        {% if session.user %}
            <a href="#" class="modal-close waves-effect btn z-depth-5 waves-effect brown
                                 lighten-2 brown-text text-lighten-5">Close</a>
        {% else %}
            <a href="#register" class="modal-trigger modal-close waves-effect btn z-depth-5 waves-effect brown
                                 lighten-2 brown-text text-lighten-5">Register</a>
        {% endif %}        
        </div>
    </div>
    <!-- All script tags -->
    <!-- JQuery --> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Materialize --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>