{% extends 'base.html' %}
    {% block content %}
        <!-- Add further security to admin page to ensure only admin can access information -->
        {% if session.user == "admin" %}
            <h3 class="center-align">Control Center</h3>
            <section class="control-background" style="padding-bottom: 20px; padding-top: 40px;">
                <div class="container">                
                    <div class="row">
                        <div class="col s12 m8 offset-m2">
                            <div class="card brown lighten-5">
                                <div class="row">
                                    <div class="col s12">
                                        <h3 class="center-align">Profiles</h3>
                                    </div>
                                </div>
                                {% for profile in profiles %}
                                    <div class="profile row">
                                        <div class="col s4 m5">
                                            <a href="{{ url_for('profile', username=profile.username) }}"><p class="right-align blue-text">{{ profile.username }}</p></a>
                                        </div>
                                        <div class="col s8 m7">
                                            <a href="{{ url_for('edit_profile', profile_id=profile._id) }}" 
                                                class="z-depth-3 btn-small waves-effect brown lighten-1 brown-text text-lighten-5">
                                                <i class="far fa-edit"></i> Edit</a>
                                            <a onclick="return confirm('Are you sure?');" href="{{ url_for('delete_profile', profile_id=profile._id) }}" 
                                                class="z-depth-3 btn-small waves-effect brown lighten-1 brown-text text-lighten-5">
                                                <i class="fas fa-trash-alt "></i> Delete
                                            </a>
                                        </div>                                                                        
                                    </div>
                                {% endfor %} 
                                <div class="row">
                                    <div class="col s12">
                                        <h3 class="center-align">Categories</h3>
                                    </div>
                                    <div class="col s5 m4 offset-m5 offset-s4">
                                        <a href="{{ url_for('add_category') }}" 
                                            class="z-depth-3 btn-small waves-effect brown lighten-1 brown-text text-lighten-5">
                                            <i class="fas fa-plus"></i> Category
                                        </a> 
                                    </div>
                                </div>
                                {% for category in categories %}
                                    <div class="profile row">
                                        <div class="col s4 m5">
                                            <p class="right-align black-text">{{ category.category_name }}</p>
                                        </div>
                                        <div class="col s8 m7">
                                            <a href="{{ url_for('edit_category', category_id=category._id) }}" 
                                                class="z-depth-3 btn-small waves-effect brown lighten-1 brown-text text-lighten-5">
                                                <i class="far fa-edit"></i> Edit
                                            </a> 
                                            <a onclick="return confirm('Are you sure?');" href="{{ url_for('delete_category', category_id=category._id) }}" 
                                                class="z-depth-3 btn-small waves-effect brown lighten-1 brown-text text-lighten-5">
                                                <i class="fas fa-trash-alt "></i> Delete
                                            </a>
                                        </div>                                                                        
                                    </div>
                                {% endfor %}
                                    <div class="row">
                                        <div class="col s12">
                                            <h3 class="center-align">Items</h3>
                                        </div>
                                    </div>
                                {% for item in items %}
                                    <div class="profile row">
                                        <div class="col s4 m5">
                                            <p class="right-align black-text">{{ item.item_name }}</p>
                                        </div>
                                        <div class="col s8 m7">
                                            <a href="{{ url_for('edit_item', item_id = item._id) }}" 
                                                class="z-depth-3 btn-small waves-effect brown lighten-1 brown-text text-lighten-5">
                                                <i class="far fa-edit"></i> Edit</a> 
                                            <a onclick="return confirm('Are you sure?');" href="{{ url_for('delete_item', item_id = item._id) }}" 
                                                class="z-depth-3 btn-small waves-effect brown lighten-1 brown-text text-lighten-5">
                                                <i class="fas fa-trash-alt "></i> Delete
                                            </a>
                                        </div>                                                                        
                                    </div>
                                {% endfor %}                                
                            </div>
                        </div>
                    </div>                                
                </div>
            </section>
        {% endif %}
    {% endblock %}   
    