{% extends 'base.html' %}
    {% block content %}        
        <div class="container">                        
            <h3 class="center-align">{{ username.username }}'s Profile Page</h3>
            <div class="row">                
                <div class="col s12 m6 offset-m3">                    
                    <!-- If there is a session user but no profile has been created in profile database-->                      
                    {% if session.user and profile.username|length == 0 %}
                        <div class="center-align">
                            <a href="{{ url_for('add_profile')}}" class="waves-effect waves-light btn">Create profile</a>
                        </div>
                    <!-- Display buttons if logged in user same as profile user or admin -->
                    <!-- If no profile is present for user then only user will have access to the profile page -->
                    {% elif profile.username == session.user or session.user == "admin" %} 
                        <a href="{{ url_for('edit_profile', profile_id=profile._id) }}" class="waves-effect waves-light btn">Edit</a>
                        <a onclick="return confirm('Are you sure?');" href="{{ url_for('delete_profile', profile_id=profile._id) }}" class="waves-effect waves-light btn">Delete </a>
                    <!-- Logic to ensure edit/delete button will not display if no session user -->
                    <!-- session user dictionary will be empty -->
                    {% elif session.user|length == 0 %}                     
                    {% endif %}
                </div>                
            </div>            
            {% if profile %} 
                <div class="row">
                    <div class="col s12 m6 offset-m3">
                        <div class="card large">
                            <div class="card-image">
                                <img src="{{ url_for('file', filename = profile.profile_image ) }}">                                
                            </div>
                            <div class="card-content">
                                <span class="card-title">{{ profile.full_name }}</span>
                                {{ profile.profile_description }}
                            </div>                            
                        </div>
                    </div>
                </div>    
                {% else %} 
                    <h3 class="center-align">No profile to show</h3>
            {% endif %}          
        </div>
    {% endblock %}  
    
