{% extends 'base.html' %}
    {% block content %}     
    {{ items }}
    {{ items[0].email }}
        <h3 class="center-align">{{ username.username }}'s Profile Page</h3>
        <div class="row">                
            <div class="col s12 m6 offset-m3">
                <!-- Logic to ensure edit/delete button will not display if no session user -->
                <!-- session user dictionary will be empty --> 
                {% if session.user %}                       
                    <!-- If there is a session user but no profile has been created in profile database
                        for that profile user -->
                    {% if session.user == username.username and profile.username|length == 0 %}
                        <div class="center-align">
                            <a href="{{ url_for('add_profile')}}" 
                                class="z-depth-5 waves-effect btn-large brown lighten-2 brown-text text-lighten-5">Create profile</a>
                        </div>
                    <!-- Display buttons if logged in user same as profile user or admin -->
                    <!-- If no profile is present for user then only the user will have access to the profile page -->
                    {% elif profile.username == session.user or session.user == "admin" %}
                        <div class="center-align">
                            <a href="{{ url_for('edit_profile', profile_id=profile._id) }}"
                                    class="z-depth-5 waves-effect btn-large brown lighten-2 brown-text text-lighten-5">
                                    <i class="far fa-edit"></i>Edit</a>
                            <a onclick="return confirm('Are you sure?');" href="{{ url_for('delete_profile', profile_id=profile._id) }}" 
                                    class="z-depth-5 waves-effect btn-large brown lighten-2 brown-text text-lighten-5">
                                    <i class="fas fa-trash-alt"></i> Delete</a>
                        </div>                                                          
                    {% endif %}
                {% else %}
                {% endif %}
            </div>
            {% if profile %}            
            {% else %}
                <div class="col s12 center-align">
                    <p style="margin-bottom: 0;"><strong>Email:</strong> {{ items[0].email }}</p><br>
                    <p style="margin-top: 0;"><strong>Contact number:</strong> {{ items[0].contact_number }}</p>
                </div>
            {% endif %}                
        </div> 
        <section class="page-background"> 
            <div class="container">                             
                {% if profile %} 
                    <div class="row">
                        <div class="col s12 m6 offset-m3">
                            <div class="card large brown lighten-5" style="margin-top: 40px; border-radius: 0;">
                                <div class="card-image">
                                    <img src="{{ url_for('file', filename = profile.profile_image ) }}">                                
                                </div>
                                <div class="card-content center-align">
                                    <span class="card-title"><strong>{{ profile.full_name }}</strong></span>
                                    {{ profile.profile_description }}<br><br>
                                    <strong>Email:</strong> {{ items[0].email }}<br>
                                    <strong>Contact number:</strong> {{ items[0].contact_number }}
                                </div>                                                          
                            </div>
                        </div>
                    </div>    
                {% else %} 
                        <h3 class="center-align white-text" style="border-bottom: 1px solid white; padding-top:40px;">
                            No profile to show</h3>
                {% endif %}                      
            </div>
        </section>
    {% endblock %}  


            
    
